- var firstItem = function(obj) {
-   if(!obj || Object.keys(obj).length === 0) return {};
-   return obj[Object.keys(obj)[0]];
- }

- var niceEnum = function(e) {
-   return e[0] + '[\n  ' + e.map(function(x,i) {
-     if(i>0) {
-       return i > 1 ? '\n  ' + x : x;
-      }
-    }).filter(function(x) {
-      return !!x;
-    }) + '\n]';
- }

- var camelCaseToStandard = function(s) {
-   s = s.split(/([A-Z][a-z]+)/).filter(function(x) { return x; }).join(' ');
-   return s.substring(0,1).toUpperCase() + s.substring(1, s.length);
- }

- var objectIsArray = function(obj) {
-   var keys = Object.keys(obj);
-   if(keys.length === 0) {
-     return 0;
-   }
-   return Array.isArray(obj) || 1 + Object.keys(obj).reduce(function(x,y) {
-     return parseInt(x) + parseInt(y);
-   }) === Object.keys(obj).length;
- }

- var headers = ['JSON Payloads', 'Request Parameters', 'Query Parameters', 'JSON Request Object', 'JSON Request']

doctype html
html
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

  head
    title= title
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway:400,300,600")
    link(rel="stylesheet", href="/docs/css/normalize.css")
    link(rel="stylesheet", href="/docs/css/skeleton.css")
    link(rel="stylesheet", href="/docs/css/label.css")

  body(data-language="curl", onload="if(locationAnchor = window.location.href.split('#')[1]) {window.location='#' + locationAnchor;}")
    div(class="container")
      nav(class="fix-left")
        each resource, resourceName in routes
          h5= camelCaseToStandard(resourceName)
          ul
            each route in resource
              - var routeId = route.title.toLowerCase().split(' ').join('-')
              li: a(class="sidebar-nav-i2em", href="#" + routeId)= route.title
      div(class="row")
        div(class="ten columns offset-by-two column")
          each resource, resourceName in routes
            each route in resource
              - var payloadTypes = [route.requestVariants, route.requestParameters, route.queryParameters, route.requestBody, route.requestArray]
              - var routeId = route.title.toLowerCase().split(' ').join('-')

              .row(id=routeId)
                div(class="ten columns")
                  h2= route.title
                  if route.description
                    p= route.description
                  .label(style="margin: 0 0.5rem 0.5rem 0")= route.verb
                  span(style="font-family: monospace; font-size: 1.75rem")
                    | https://
                    = appLocals.fqdn
                    = route.path

                  if route.headers
                    h5(style="margin-top: 1rem") Headers
                    table(class="u-full-width")
                      tbody
                        each header in route.headers
                          tr
                            td= Object.keys(header)[0]
                            td= header[Object.keys(header)[0]]

                  each r in payloadTypes
                    if r
                      - var index = payloadTypes.indexOf(r)
                      - header = headers[index]
                      if index === 4
                        div(style="margin-top: 1rem")
                          h5
                            = header
                            | :&nbsp;Array
                            = r
                      else
                        if objectIsArray(r)
                          - route.requestVariants = r
                        else
                          - route.requestVariants = [r]
                        include ./modules/requestVariant.pug

                  if route.responseCodes
                    h5(style="margin-top: 1rem") Response Codes
                    table(class="u-full-width")
                      thead
                        tr
                          th Code
                          th Description
                      tbody
                        each code in Object.keys(route.responseCodes)
                          tr
                            td= code
                            td= route.responseCodes[code]

                  if route.exampleRequest
                    - var fullPath = '//' + appLocals.fqdn + '/' + route.path
                      h5 Example Request
                      pre: code curl
                        if route.verb !== 'GET'
                          |  -X
                          = route.verb
                        |  https://
                        = appLocals.fqdn
                        = route.path
                        if route.headers
                          each header in route.headers
                            |  \
                            = '' + '\n'
                            | -H "
                            = Object.keys(header)[0] + ': '
                            = header[Object.keys(header)[0]]
                          |  \
                          = '' + '\n'
                          | -H "Content-Type: application/json" \
                          = '' + '\n'
                          | -d@- &lt;&lt;EOF
                          ='' + '\n'
                          =JSON.stringify(route.exampleRequest, null, '  ') + '\n'
                          | EOF
                  if route.exampleResponse
                    h5 Example Response
                    pre: code
                      =JSON.stringify(route.exampleResponse, null, '  ')

              hr
